<h1>Node: Book page</h1>
{{#each books}}
    {{#if @first}}
        <h2>Title: {{title}}</h2>
        <p>{{description}}</p>
        <p><a onclick="return confirm('Really?!');" href="book/{{id}}/delete">delete book</a></p>
    {{/if}}
{{/each}}
