<h1>Node: Home page</h1>
{{#each books}}
    <h2>Title: {{title}}</h2>
    <p>{{description}}</p>
    <p><a onclick="return confirm('Really?!');" href="book/{{id}}/delete">delete book</a></p>
{{/each}}